<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Meme CHANNEL">
    <meta name="description" content="">
    <title>Meme Hunt</title>
    <link rel="stylesheet" href="static/css/homepage.css" media="screen">
    <link rel="stylesheet" href="static/css/Home.css" media="screen">
    <script class="u-script" type="text/javascript" src="static/js/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="static/js/homepage.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P:400|Chilanka:400|Mali:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i">

    <script type="application/ld+json">{
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "",
    "logo": "static/images/2024-05-1514.28.36.png"
    }</script>
    <meta name="theme-color" content="#a3dbba">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
  <header class="u-clearfix u-header u-header" id="sec-ed9d">
      <a href="#" class="u-image u-logo u-image-1" data-image-width="740" data-image-height="124">
        <img src="static/images/2024-05-1514.28.36.png" class="u-logo-image u-logo-image-1">
      </a>
      <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
        <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;" wfd-invisible="true">
          <a class="u-button-style u-custom-border u-custom-border-color u-custom-borders u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-shadow u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/user/login">
            <svg class="u-svg-link" viewBox="0 0 24 24"><use xlink:href="#svg-7ee3"></use></svg>
            <svg class="u-svg-content" version="1.1" id="svg-7ee3" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect></g></svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-spacing-20 u-unstyled u-nav-1">
            <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-black u-text-hover-palette-2-base" href="/" target="_blank" style="padding: 10px;">Home</a></li>
            <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-black u-text-hover-palette-2-base" href="/user/login" target="_blank" style="padding: 10px;">Login</a></li>
            <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-black u-text-hover-palette-2-base" href="/about_us.html" target="_blank" style="padding: 10px;">About Us</a></li>
          </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse" wfd-invisible="true">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-inner-container-layout u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/index" target="_blank">Meme Hunt</a></li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/index" target="_blank">Login</a></li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/about_us.html" target="_blank">About Us</a></li>
              </ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70" wfd-invisible="true"></div>
        </div>
      </nav>
    </header>
    <section class="u-align-center u-clearfix u-image u-section-1" id="sec-ba7f" data-image-width="1920" data-image-height="1080">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-center u-container-style u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <h6 class="u-custom-font u-text u-text-1">Discover, Request, Share the Funniest Memes! </h6>
            <h2 class="u-custom-font u-text u-text-2"> Welcome to Meme Hunt!</h2>
            <p class="u-custom-font u-text u-text-3">Get Started Now!&nbsp; &nbsp;<a href="/user/register" class="u-active-none u-border-1 u-border-black u-border-no-left u-border-no-right u-border-no-top u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-1">Register! </a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="skrollable u-clearfix u-parallax u-section-2" id="sec-5ac7">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-image u-layout-cell u-size-21 u-image-1" data-image-width="375" data-image-height="350">
                <div class="u-container-layout u-container-layout-1"></div>
              </div>
              <div class="u-container-align-center u-container-style u-layout-cell u-size-39 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <h2 class="u-align-center u-custom-font u-text u-text-default u-text-1">Meme Family</h2>
                  <p class="u-align-center u-custom-font u-text u-text-default u-text-2"> Are you a meme enthusiast looking for the perfect meme to express your thoughts? Or perhaps you have a specific meme idea but can't find the right one? Meme Hunt is the ultimate platform where meme lovers can come together to discover, request, and share memes. Our community is dedicated to helping each other find or create the funniest, most relatable, and most unique memes on the internet.</p>
                  <a href="/user/login" class="u-active-palette-3-light-2 u-border-none u-btn u-btn-round u-button-style u-custom-color-4 u-custom-font u-hover-palette-4-light-2 u-radius u-btn-1"><span class="u-icon"></span>&nbsp;Login
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-section-3" id="sec-cada">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-align-center u-custom-font u-text u-text-default u-text-1"> What is Meme Hunt?</h1>
        <p class="u-align-center u-custom-font u-text u-text-default u-text-2"> Meme Hunt is a vibrant community where users can:</p>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-section-4" id="sec-34df">
      <div class="u-align-left u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <span class="u-align-center u-file-icon u-icon u-icon-1">
                  <img src="static/images/noun-pixel-6161937.png" alt="">
                </span>
                <h3 class="u-align-center u-custom-font u-text u-text-default u-text-1"> Request Memes</h3>
                <p class="u-align-center u-custom-font u-text u-text-2"> Have a specific meme in mind but can't find it? Post a detailed description, and let the community help you find or create the perfect meme.</p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <span class="u-align-center u-file-icon u-icon u-icon-2">
                  <img src="static/images/noun-pixel-6161978.png" alt="">
                </span>
                <h3 class="u-align-center u-custom-font u-text u-text-default u-text-3"> Answer Requests</h3>
                <p class="u-align-center u-custom-font u-text u-text-4"> Browse through meme requests posted by other users and respond with your best meme suggestions. Earn credits for your contributions and climb the leaderboard!</p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <span class="u-align-center u-file-icon u-icon u-icon-3">
                  <img src="static/images/noun-pixel-dino-3907595.png" alt="">
                </span>
                <h3 class="u-align-center u-custom-font u-text u-text-default u-text-5"> Share Memes</h3>
                <p class="u-align-center u-custom-font u-text u-text-6"> Share your favorite memes with the community. Whether they're original creations or just your personal favorites, we welcome all memes!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-section-5" id="sec-1994">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-center u-custom-font u-text u-text-1">It's That Design Feeling</h1>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-left u-section-6" id="carousel_b56e">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-col">
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div class="u-container-style u-image u-layout-cell u-size-15 u-image-1" data-image-width="500" data-image-height="500">
                    <div class="u-container-layout u-container-layout-1"></div>
                  </div>
                  <div class="u-align-left u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-shape-rectangle u-size-15 u-layout-cell-2" data-animation-name="customAnimationIn" data-animation-duration="2000">
                    <div class="u-container-layout u-container-layout-2">
                      <p class="u-custom-font u-text u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="0">
                        <span style="font-weight: 700; font-size: 1.125rem;"></span>
                        <span style="font-weight: 700;">Earn Credits</span>
                        <br>
                        <br>Earn credits by responding to requests with the best memes. Use your credits to request memes or simply show off your meme mastery!
                      </p>
                    </div>
                  </div>
                  <div class="u-align-left u-container-style u-layout-cell u-size-15 u-layout-cell-3">
                    <div class="u-container-layout u-container-layout-3">
                      <p class="u-custom-font u-text u-text-default u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="0">
                        <span style="font-weight: 700;"> Stay Updated<span style="font-size: 1.125rem;"></span>
                        </span>
                        <br>
                        <br>Stay on top of the latest meme trends and never miss out on the funniest memes circulating the internet.
                      </p>
                    </div>
                  </div>
                  <div class="u-container-style u-image u-layout-cell u-size-15 u-image-2" data-image-width="480" data-image-height="480">
                    <div class="u-container-layout u-container-layout-4"></div>
                  </div>
                </div>
              </div>
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div class="u-align-left u-container-style u-layout-cell u-size-15 u-layout-cell-5">
                    <div class="u-container-layout u-container-layout-5">
                      <p class="u-custom-font u-text u-text-default u-text-3" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="0">
                        <span style="font-weight: 700;"> Engaging Community</span>
                        <br>
                        <br>Join a community of meme enthusiasts who share your passion for humor and creativity.
                      </p>
                    </div>
                  </div>
                  <div class="u-align-left u-container-style u-image u-layout-cell u-size-15 u-image-3" data-image-width="498" data-image-height="498">
                    <div class="u-container-layout u-container-layout-6"></div>
                  </div>
                  <div class="u-container-style u-image u-layout-cell u-size-15 u-image-4" data-image-width="480" data-image-height="480">
                    <div class="u-container-layout u-container-layout-7"></div>
                  </div>
                  <div class="u-align-left u-container-style u-layout-cell u-size-15 u-layout-cell-8">
                    <div class="u-container-layout u-container-layout-8">
                      <p class="u-custom-font u-text u-text-default u-text-4" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="0">
                        <span style="font-weight: 700;"> Easy to Use</span>
                        <br>
                        <br>Our intuitive interface makes it easy to browse, request, and share memes
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-ba52">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-custom-font u-small-text u-text u-text-variant u-text-1"> &amp;copy; 2024 Meme Hunt. All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>
