{% extends 'front/base.html' %}

{% block title %}
  {{ post.title }}
{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static',filename='editor/dist/css/style.css') }}">
  <script src="{{ url_for('static',filename='js/wangEditor.min.js') }}"></script>
  <script src="{{ url_for('static',filename='front/js/public_post.js') }}"></script>

  <link rel="stylesheet" href="{{ url_for('static',filename='front/css/post_detail.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='front/css/start.css') }}">

  <!--link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" -->
{% endblock %}

{% block body %}
  <div class="lg-container">
    <div class="post-container">
      <h2><div align="center">{{ post.title }}</div></h2>
      <p class="post-info-group">
        <span>post time：{{ post.create_time }}</span>
        <span>anthor：<a href="{{ url_for('user.profile',user_id=post.author.id) }}">{{ post.author.username }}</a>
         {% if post.author.avatar %}
            <img width="20px" height="20px"  src="{{ post.author.avatar }}"/>
         {% endif %}
        </span>
        <span>broad：{{ post.board.name }}</span>
        <span>credit：{{ post.credit }}</span>
        <span>read：{{ post.read_count }}</span>
        <span>remark：{{ post.comments.count() }}</span>
      </p>
      <article class="post-content" id="post-content">
        {{ post.content|safe }}
      </article>
    </div>
    <div class="comment-group">
      <h3>remarks</h3>
      <ul class="comment-list-group">
        {% for comment in post.comments.filter_by(is_active=True) %}
          <li>
            <div class="comment-content">
              <p class="author-info">
                <span>{{ comment.author.username }}
                {% if comment.author.avatar %}
                    <img width="20px" height="20px"  src="{{ comment.author.avatar }}"/>
                {% endif %}
                </span>
                <span>{{ comment.create_time }}</span>
                <span>accept:{{ comment.accept}}</span>
              </p>
              <!--p class="comment-txt need add {}">
                comment.content
              </p-->
             <article class="comment-txt">
                {{ comment.content|safe }}
             </article>
            {% if comment.author_id!=current_user  %}
                {% if comment.accept==0 %}
             <div class="stars">
                 <form id="accpet_form" action="{{ url_for('front.comment_accept',post_id=post.id) }}" method="post">
                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input class="star star-5" id="star-5" type="radio" name="star5"/>
                    <label class="star star-5" for="star-5"></label>
                    <input class="star star-4" id="star-4" type="radio" name="star4"/>
                    <label class="star star-4" for="star-4"></label>
                    <input class="star star-3" id="star-3" type="radio" name="star3"/>
                    <label class="star star-3" for="star-3"></label>
                    <input class="star star-2" id="star-2" type="radio" name="star2"/>
                    <label class="star star-2" for="star-2"></label>
                    <input class="star star-1" id="star-1" type="radio" name="star1"/>
                    <label class="star star-1" for="star-1"></label>

                      <div class="comment-btn-group">
                          <input class="btn btn-primary" type="submit" value="accept" />
                      </div>
                 </form>
             </div>
             {% endif %}
             {% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% if post.author_id!=current_user  %}
    <div class="add-comment-group">
      <h3>Post Remark</h3>
      <form id="comment_form" action="{{ url_for('front.public_comment',post_id=post.id) }}" method="post">
        <!--textarea class="form-control" name="content0" id="editor0" cols="30" rows="5"></textarea-->
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        {% with messages = get_flashed_messages()  %}
          {% if messages %}
            {% for message in messages %}
              <div class="text-danger mt-2">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <!--div class="form-group">
          <label>Accept degree:1-5</label>
          <input type="text" class="form-control" name="accept" value="0"/>
        </div-->
        <div class="form-group">
          <!--label>content</label-->
          <div id="editor"></div>
        </div>
        <div class="comment-btn-group">
          <button class="btn btn-primary" id="comment-btn">P o s t</button>
        </div>
      </form>
    </div>
    {% endif %}
  </div>
  <div class="sm-container"></div>
{% endblock %}