 {% extends 'front/base.html' %}

{% block title %}
  {{ user.username }} User Center
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='front/css/index.css') }}">
{% endblock %}

{% block body %}
  <div class="profile-box">
    <h1 class="page-title">{{ user.username }}</h1>
    <h2 class="page-title">User Center</h2>
    <form action="{{ url_for('user.edit_profile') }}" method="post" enctype="multipart/form-data">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <table class="table table-bordered mt-5">
        <tbody>
          <tr>
            <th width="100px">Username:</th>
            <td colspan="2">
              {% if is_mine %}
                <input type="text" name="username" value="{{ user.username }}">
              {% else %}
                {{ user.username }}
              {% endif %}
            </td>
          </tr>

          <tr>
            <th>Photo:</th>
            <td>
              {% if user.avatar %}
                <img class="avatar" src="{{ user.avatar }}" alt=""/>
              {% else %}
                <img class="avatar" src="{{ avatars.gravatar(user.email|email_hash)|replace('https://gravatar.com/avatar/','https://cdn.v2ex.com/gravatar/') }}" alt=""/>
              {% endif %}
            </td>
            {% if is_mine %}
              <td>
                <input type="file" name="avatar" accept="image/jpeg, image/png" value="upload"/>
              </td>
            {% endif %}
          </tr>

          <tr>
            <th>Credits:</th>
            <td colspan="2">
              <input type="text" name="credit" value="{{ user.credit }}" disabled="disabled"/>
            </td>
          </tr>

          <tr>
            <th>Level:</th>
            <td colspan="2">
              <input type="text" name="level" value="{{ user.level }}" disabled="disabled">
            </td>
          </tr>

          <tr>
            <th>Introduction:</th>
            <td colspan="2">
              {% if is_mine %}
                <input type="text" name="signature" value="{{ user.signature or '' }}">
              {% else %}
                {{ user.signature or "" }}
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
      {% if is_mine %}
        <div style="text-align: center;">
          <button class="btn btn-primary">Save</button>
        </div>
      {% endif %}
    </form>
  </div>
{% endblock %} 



