body {
    font-family: 'Press Start 2P', cursive;
    background-color: #FFFFFF;
    color: #7469B6;
    font-size: 10px;
  }
  
  .page-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-container {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    border: 2px solid #AD88C6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 30px;
  }
  
  .form-group label {
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
    color: #7469B6;
  }
  
  .form-control {
    width: 100%;
    padding: 5px;
    font-size: 10px;
    border: 2px solid #E1AFD1;
    border-radius: 5px;
    box-sizing: border-box;
  }


  .form-control select {
    width: 200%;
    font-size: 10px;
    border: none;
    background-color: transparent;
    outline: none;
    appearance: none;
    padding: 20px;
    box-sizing: border-box;
  }
  
  #editor {
    border: 2px solid #E1AFD1;
    padding: 10px;
    border-radius: 5px;
  }
  
  .btn-block {
    display: block;
    width: 100%;
    font-family: 'Press Start 2P', cursive;
    background-color: #AD88C6;
    border: 2px solid #7469B6;
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .btn-danger {
    background-color: #AD88C6;
    border-color: #7469B6;
  }
  
  hr {
    border: 1px solid #E1AFD1;
  }
  