{% extends 'cms/base.html' %}

{% block title %}employee manage{% endblock %}

{% block head %}

{% endblock %}

{% block page_title %}
  {{ self.title() }}
{% endblock %}

{% block main_content %}
  <a href="{{ url_for('cms.add_staff') }}" class="btn btn-primary mb-3">Add</a>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>#</th>
      <th>email</th>
      <th>user</th>
      <th>create time</th>
      <th>role</th>
      <th>operator</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.join_time }}</td>
        <td>{{ user.role.name }}</td>
        <td>
          {% if 1==1 or not user.has_permission(PermissionEnum.CMS_USER) %}
            <a href="{{ url_for('cms.edit_staff',user_id=user.id) }}" class="btn btn-info btn-sm">edit</a>
          {% endif %}
          {% if  not user.has_permission(PermissionEnum.CMS_USER) %}
            <a href="{{ url_for('cms.dele_staff',user_id=user.id) }}" class="btn btn-info btn-sm">delete</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}