<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript"
        src="{{ url_for('static',filename=jsfile) }}">
    </script>
</head>
<body>
<img src="{{ url_for('static',filename=mybkpic) }}" alt="abc" style="display:none"></img>
<hr/>
<div style="background: #8c8c8c" >
<form>
    <div></div>
    <input type="button" onclick="popwin()"  value="aaa">
</form>
<img src="{{ url_for('static',filename=mybkpic2) }}" alt="abc"></img>
    </div>
<hr/>
</body>
</html>