{% extends 'front/base.html' %} {% block title %} login {% endblock %} {% block
head %}
<link
  rel="stylesheet"
  href="{{ url_for('static',filename='front/css/sign.css') }}"
/>
{% endblock %} {% block body %}
<h1 class="page-title">login</h1>
<div class="sign-box">
  <form action="" method="post">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        name="email"
        placeholder="email"
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="password"
      />
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="remember" value="1" />remember me
      </label>
    </div>
    <div class="form-group">
      <button class="btn btn-warning btn-block" id="submit-btn">login</button>
    </div>
    <div class="form-group">
      <a href="#" class="signup-link">no account? register now</a>
      <a href="#" class="resetpwd-link" style="float: right"
        >retrive password</a
      >
    </div>
  </form>
</div>
{% endblock %}
