{% extends 'front/base.html' %} {% block title %} title {% endblock %} {% block
head %}
<link
  rel="stylesheet"
  href="{{ url_for('static',filename='front/css/post_detail.css') }}"
/>
{% endblock %} {% block body %}
<div class="lg-container">
  <div class="post-container">
    <h2>a cute gif</h2>
    <p class="post-info-group">
      <span>post time：2021-10-01</span>
      <span>author:ttt</span>
      <span>sector：Python基础</span>
      <span>read：20</span>
      <span>replies：10</span>
    </p>
    <article class="post-content" id="post-content">post content</article>
  </div>
  <div class="comment-group">
    <h3>comment</h3>
    <ul class="comment-list-group">
      <li>
        <div class="comment-content">
          <p class="author-info">
            <span>ggg</span>
            <span>2021-10-01</span>
          </p>
          <p class="comment-txt">comment content</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="add-comment-group">
    <h3>post comment</h3>
    <form action="" method="post">
      <textarea
        class="form-control"
        name="content"
        id="editor"
        cols="30"
        rows="5"
      ></textarea>
      <div class="comment-btn-group">
        <button class="btn btn-primary" id="comment-btn">post comment</button>
      </div>
    </form>
  </div>
</div>
<div class="sm-container"></div>
{% endblock %}
