{% extends 'front/base.html' %} {% block title %} ttt profile {% endblock %} {%
block head %}
<style>
  .profile-box {
    width: 400px;
    margin: 0 auto;
  }
  .avatar {
    width: 200px;
  }
</style>
{% endblock %} {% block body %}
<div class="profile-box">
  <h1 style="text-align: center">ttt profile</h1>
  <table class="table table-bordered mt-5">
    <tbody>
      <tr>
        <th width="100px">user name：</th>
        <td>ttt</td>
      </tr>
      <tr>
        <th>avatar：</th>
        <td>
          <img
            class="avatar"
            src="https://pic1.zhimg.com/80/v2-d03aa05346fd377da12dc324d79acda3_720w.jpg"
            alt=""
          />
        </td>
      </tr>
      <tr>
        <th>sign：</th>
        <td>meme hunt！</td>
      </tr>
    </tbody>
  </table>
  <div style="text-align: center">
    <button class="btn btn-primary">save</button>
  </div>
</div>
{% endblock %}
