{% extends "front/base.html" %} {% block title %} post request {% endblock %} {%
block head %} {% endblock %} {% block body %}
<h1 style="text-align: center">post request</h1>
<div class="mb-4"></div>
<form action="" method="post">
  <div class="form-group">
    <label>title</label>
    <input type="text" class="form-control" name="title" />
  </div>
  <div class="form-group">
    <label>sector</label>
    <select name="board_id" class="form-control"></select>
  </div>
  <div class="form-group">
    <label>content</label>
  </div>
  <div class="form-group">
    <button class="btn btn-danger" id="submit-btn">post request</button>
  </div>
</form>
{% endblock %}
