{% extends 'cms/base.html' %} {% block title %}Sector management{% endblock %}
{% block head %}
<script src="{{ url_for('static',filename='cms/js/boards.js') }}"></script>
{% endblock %} {% block page_title %} {{ self.title() }} {% endblock %} {% block
main_content %}
<div class="top-box">
  <button class="btn btn-primary" style="float: right" id="add-board-btn">
    add new block
  </button>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Section name</th>
      <th>number of posts</th>
      <th>creation time</th>
      <th>operation</th>
    </tr>
  </thead>
  <tbody>
    {% for board in boards %}
    <tr data-name="{{ board.name }}" data-id="{{ board.id }}">
      <td>{{ board.name }}</td>
      <td>{{ board.posts|length }}</td>
      <td>{{ board.create_time }}</td>
      <td>
        <button
          class="btn btn-default btn-sm edit-board-btn"
          data-board-id="{{ board.id }}"
          data-board-name="{{ board.name }}"
        >
          edit
        </button>
        <button
          class="btn btn-danger btn-sm delete-board-btn"
          data-board-id="{{ board.id }}"
          data-board-name="{{ board.name }}"
        >
          delete
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
