{% extends 'cms/base.html' %} {% block title %}reply management{% endblock %} {%
block head %}
<script src="{{ url_for('static',filename='cms/js/comments.js') }}"></script>
{% endblock %} {% block page_title %} {{ self.title() }} {% endblock %} {% block
main_content %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>content</th>
      <th>post time</th>
      <th>Belonging request</th>
      <th>author</th>
      <th>action</th>
    </tr>
  </thead>
  <tbody>
    {% for comment in comments %}
    <tr>
      <td>{{ comment.content }}</td>
      <td>{{ comment.create_time }}</td>
      <td>
        <a href="{{ url_for('front.post_detail',post_id=comment.post.id) }}"
          >{{ comment.post.title }}</a
        >
      </td>
      <td>{{ comment.author.username }}</td>
      <td>
        {% if comment.is_active %}
        <button
          class="btn btn-danger btn-sm active-btn"
          data-active="1"
          data-comment-id="{{ comment.id }}"
        >
          hide
        </button>
        {% else %}
        <button
          class="btn btn-info btn-sm active-btn"
          data-active="0"
          data-comment-id="{{ comment.id }}"
        >
          Unhide
        </button>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
