{% extends 'cms/base.html' %} {% block title %}CMS{% endblock %} {% block head
%} {% endblock %} {% block page_title %} {{ self.title() }} {% endblock %} {%
block main_content %}
<a href="#" class="btn btn-primary mb-3">add staff</a>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>email</th>
      <th>username</th>
      <th>join time</th>
      <th>role</th>
      <th>operation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>hynever@163.com</td>
      <td>Tina</td>
      <td>2021-10-10</td>
      <td>coo</td>
      <td>
        <a href="#" class="btn btn-info btn-sm">edit</a>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}
